<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Uses ACCESS_NETWORK_STATE to check if the device is connected to internet or not -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Uses INTERNET to fetch RSS feed + images -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".JetcasterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jetcaster"
        android:usesCleartextTraffic="true">
        <service
            android:name=".ui.home.movie.TheMovieService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Jetcaster">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service android:name=".ui.home.movie.TheMovieService"/>

    </application>

</manifest>